
body.main, html.main{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #767E9E;
	height: 100%;
}

header.main{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	height: 50px;
	background-color: #3FCF54;
	box-sizing: border-box;
	padding: 0 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 999;
}

header.main > h1{
	color: white;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-weight: lighter;
	font-size: 1.4em;
}

.container{
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	//display: flex;
	//justify-content: space-between;
	height: 100%;
	position: relative;
	white-space: nowrap;
}

.container .result-html{
	width: 50%;
	position: relative;
	background-color: white;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow-y: scroll;
	transition: all 0.3s;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container.full .result-html{
	width: 100%;	
}

.container .input-json{
	display: inline-block;
	width: calc(50% - 40px);
	margin: 20px;
	position: relative;
	background-color: #101421;
	border-radius: 5px;	
	vertical-align: top;
	height: calc(100% - 40px);
	overflow: hidden;
	box-shadow: 0 5px 13px rgba(0,0,0,0.4);
	transition: all 0.3s;
}

.container.full .input-json{
	width: 0;
	margin: 20px -2.5px;
	//display: none;
}

.container .input-json .header{
	width: 100%;
	background-color: red;
	box-sizing: border-box;
	background: none;
	position: relative;
	height: 35px;
	padding: 5px;
	padding-bottom: 0;
	background-color: rgba(0,0,0,0.4);
}

.container .input-json .header .tab{
	width: calc(50% - 15px);
	display: inline-block;
	background: none;
	height: 30px;
	vertical-align: bottom;
	box-sizing: border-box;
	padding: 5px 10px;
	margin: 0;
	margin-right: -5px;
	border-radius: 5px 5px 0 0;
	color: rgba(255,255,255,0.2);
	line-height: 20px;
	transition: all 0.3s;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(101, 101, 101,0.5);
	position: relative;
	cursor: pointer;
}

.container .input-json .header .tab.active{
	//background-color: rgba(255,255,255,0.1);
	background-color: #101421;
	border: 1px solid rgba(101, 101, 101,0.5);
	border-bottom: 1px solid transparent;
	color: rgba(255,255,255,0.9);
}

.container .input-json .header .tab span{
	font-size: 1.2em;
}

.container .input-json .header .tab input{
	background:none;
	border: 0;
	width: 100%;
	outline: none;
	font-size: 1.2em;
	color: white;
	line-height: 20px;
}

.container .input-json .textZone{
	height: calc(100% - 75px);
	position: relative;
	overflow: scroll;
}

.container .input-json .textZone .lineLumbers{
	position: absolute;
	box-sizing: border-box;
	top:7px;
	text-align: right;
	width: 25px;
	padding: 5px;
	left: 0;
	color: rgba(255,255,255,0.3);
	font-size: 0.8em;
	line-height: 20px;
	border-right: 1px solid rgba(101, 101, 101,0.2);;
}

.container .input-json .textZone textarea{
	width: 100%;
	height: 100%;
	border: 0;	
	line-height: 20px;
	background: none;
	resize: none;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
	margin: 0;
	padding-left: 30px;
	font-size: 1em;
	color: white;
	overflow: visible;
}

.container .input-json .textZone p div{
	padding: 0;
	margin: 0;
	display: block;
}

.container .input-json .error-popup{
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	color: #FF260E;
	padding: 5px 20px;
	border-top: 1px solid rgba(101, 101, 101,0.5);
	transition: all 0.3s;
	bottom: 0;
	height: 40px;
	line-height: 30px;
	overflow-x: scroll;
}

.container .input-json .error-popup.ok{
	color: #3FCF54;
}

.options{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius:3px 0 0 0;
	opacity: 0.1;
	transition: all 0.3s;
}

.options:hover{
	opacity: 1;
}

.options button{
	background: none;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 5px 15px;
	transition: all 0.3s;
	border-radius: 2px;
	outline: none;
}

.options button:hover{
	background-color: rgba(255,255,255,0.2);
}

.option-menu{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}

.option-menu .open-button{
	color: white;
	line-height: 35px;
	font-size: 1.2em;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.option-menu .option-list{
	position: absolute;
	right: 5px;
	top: 5px;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 10px;
	margin: 0;
	border-radius: 3px;
	pointer-events: none;
	transition: all 0.3s;
	opacity: 0;
	box-shadow: 0 3px 9px rgba(0,0,0,0.4);
	border: 1px solid rgba(255,255,255,0.2);
}

.option-menu:hover .option-list, .option-menu .option-list:hover{
	opacity: 1;
	pointer-events: all;
}

.option-menu .option-list li{
	padding: 5px 10px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

.option-menu .option-list li:hover{
	background-color: rgba(255,255,255,0.1);
}

.option-menu .option-list li.break{
	padding: 0px 10px;
	background: none;
	opacity: 0.2;
}

.hidden{
	display: none;
}
